.header {
  margin: 0;
  padding: 30px 36px;
  background-color: #7ed321;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
}

.header__navigation {
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
}

.header__navigation  ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

.header__navigation  a, li{
  list-style-type: none;
  text-decoration: none;
  white-space: nowrap;
}

.header__navigation  a {
  color: #ffffff;
  font-family: SFUIText, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}